<launch>

	<group ns="blue">
		<node name="strategy" pkg="roboteam_tactics" type="StrategyNode" args="qualification/SoloDefenderStrat" output="screen" /> 
	</group>

	<group ns="yellow">
		<node name="strategy" pkg="roboteam_tactics" type="StrategyNode" args="qualification/TwoAttackersStrat" output="screen" /> 
	</group>

</launch>
