<launch>

	<arg name="legacy_packets" default="false" />
	<param name="use_legacy_packets" type="boolean" value="$(arg legacy_packets)" />

	<param name="our_side" type="str" value="left" />
	<param name="our_color" type="str" value="yellow" />

	<arg name="robot_output_target" default="serial" />
	<arg name="robot_type" default="proto" />
	<param name="robot0/robotType" type="string" value="$(arg robot_type)" />
	<param name="robot1/robotType" type="string" value="$(arg robot_type)" />
	<param name="robot2/robotType" type="string" value="$(arg robot_type)" />
	<param name="robot3/robotType" type="string" value="$(arg robot_type)" />
	<param name="robot4/robotType" type="string" value="$(arg robot_type)" />
	<param name="robot5/robotType" type="string" value="$(arg robot_type)" />
	<param name="robot6/robotType" type="string" value="$(arg robot_type)" />
	<param name="robot7/robotType" type="string" value="$(arg robot_type)" />
	<param name="robot8/robotType" type="string" value="$(arg robot_type)" />
	<param name="robot9/robotType" type="string" value="$(arg robot_type)" />

	<param name="robot0/readyToReceiveBall" type="bool" value="false" />
	<param name="robot1/readyToReceiveBall" type="bool" value="false" />
	<param name="robot2/readyToReceiveBall" type="bool" value="false" />
	<param name="robot3/readyToReceiveBall" type="bool" value="false" />
	<param name="robot4/readyToReceiveBall" type="bool" value="false" />
	<param name="robot5/readyToReceiveBall" type="bool" value="false" />
	<param name="robot6/readyToReceiveBall" type="bool" value="false" />
	<param name="robot7/readyToReceiveBall" type="bool" value="false" />
	<param name="robot8/readyToReceiveBall" type="bool" value="false" />
	<param name="robot9/readyToReceiveBall" type="bool" value="false" />

	<param name="robotClaimedBall" type="int" value="-1" />
 
	<node pkg="roboteam_world" type="filtered_world" name="world" output="screen" />
	<node pkg="roboteam_vision" type="roboteam_vision" name="vision" />
	<node pkg="roboteam_robothub" type="roboteam_robothub" name="robothub" output="screen" />

	<param name="role_iterations_per_second" type="int" value="30" />
	<param name="robot_output_target" type="string" value="$(arg robot_output_target)" />
	<param name="num_role_nodes" type="int" value="10" />
	<param name="normalize_field" type="bool" value="true" />

	<include file="SafeRoleNode.launch">
		<arg name="name" value="robot0"/>
		<arg name="outputToScreen" value="true"/>
	</include>
	<include file="SafeRoleNode.launch">
		<arg name="name" value="robot1"/>
		<arg name="outputToScreen" value="true"/>
	</include>
	<include file="SafeRoleNode.launch">
		<arg name="name" value="robot2"/>
		<arg name="outputToScreen" value="true"/>
	</include>
	<include file="SafeRoleNode.launch">
		<arg name="name" value="robot3"/>
		<arg name="outputToScreen" value="true"/>
	</include>
	<include file="SafeRoleNode.launch">
		<arg name="name" value="robot4"/>
		<arg name="outputToScreen" value="true"/>
	</include>
	<include file="SafeRoleNode.launch">
		<arg name="name" value="robot5"/>
		<arg name="outputToScreen" value="true"/>
	</include>
	<include file="SafeRoleNode.launch">
		<arg name="name" value="robot6"/>
		<arg name="outputToScreen" value="true"/>
	</include>
	<include file="SafeRoleNode.launch">
		<arg name="name" value="robot7"/>
		<arg name="outputToScreen" value="true"/>
	</include>
	<include file="SafeRoleNode.launch">
		<arg name="name" value="robot8"/>
		<arg name="outputToScreen" value="true"/>
	</include>
	<include file="SafeRoleNode.launch">
		<arg name="name" value="robot9"/>
		<arg name="outputToScreen" value="true"/>
	</include>

</launch>
