<launch>
	<group ns="blue">
		<arg name="legacy_packets" default="false" />
		<param name="use_legacy_packets" type="boolean" value="$(arg legacy_packets)" />

		<arg name="our_side_arg" default="left" />
		<arg name="our_color_arg" default="blue" />

		<param name="our_side" type="str" value="$(arg our_side_arg)" />
		<param name="our_color" type="str" value="$(arg our_color_arg)" />
	 
		<node pkg="roboteam_world" type="filtered_world" name="world"/>
		<node pkg="roboteam_vision" type="roboteam_vision" name="vision" output="screen"/>
		<node pkg="roboteam_robothub" type="roboteam_robothub" name="robothub" />

		<param name="role_iterations_per_second" type="int" value="60" />
		<param name="num_role_nodes" type="int" value="2" />

		<node name="robot0" pkg="roboteam_tactics" type="RoleNode" output="screen" />
		<node name="robot1" pkg="roboteam_tactics" type="RoleNode" output="screen" />
		<node name="robot2" pkg="roboteam_tactics" type="RoleNode" output="screen" />
		<node name="robot3" pkg="roboteam_tactics" type="RoleNode" output="screen" />
		<node name="robot4" pkg="roboteam_tactics" type="RoleNode" output="screen" />
		<node name="robot5" pkg="roboteam_tactics" type="RoleNode" output="screen" />
	</group>

	<group ns="yellow">
		<arg name="legacy_packets" default="false" />
		<param name="use_legacy_packets" type="boolean" value="$(arg legacy_packets)" />

		<arg name="our_side_arg" default="right" />
		<arg name="our_color_arg" default="yellow" />

		<param name="our_side" type="str" value="$(arg our_side_arg)" />
		<param name="our_color" type="str" value="$(arg our_color_arg)" />
	 
		<node pkg="roboteam_world" type="filtered_world" name="world"/>
		<node pkg="roboteam_vision" type="roboteam_vision" name="vision" output="screen"/>
		<node pkg="roboteam_robothub" type="roboteam_robothub" name="robothub" />

		<param name="role_iterations_per_second" type="int" value="60" />
		<param name="num_role_nodes" type="int" value="1" />

		<node name="robot0" pkg="roboteam_tactics" type="RoleNode" output="screen" />
		<node name="robot1" pkg="roboteam_tactics" type="RoleNode" output="screen" />
		<node name="robot2" pkg="roboteam_tactics" type="RoleNode" output="screen" />
		<node name="robot3" pkg="roboteam_tactics" type="RoleNode" output="screen" />
		<node name="robot4" pkg="roboteam_tactics" type="RoleNode" output="screen" />
		<node name="robot5" pkg="roboteam_tactics" type="RoleNode" output="screen" />
	</group>
</launch>
