<launch>
  <include file="$(find roboteam_utils)/mini.launch" />

  <node name="strategy" pkg="roboteam_tactics" type="StrategyNode" output="screen" />

  <param name="role_iterations_per_second" type="int" value="20" />
  <param name="num_role_nodes" type="int" value="2" />
  <param name="use_legacy_packets" type="boolean" value="false" />

  <node name="role1" pkg="roboteam_tactics" type="RoleNode" output="screen" />
  <node name="role2" pkg="roboteam_tactics" type="RoleNode" output="screen" />
  <node name="role3" pkg="roboteam_tactics" type="RoleNode" output="screen" />
  <node name="role4" pkg="roboteam_tactics" type="RoleNode" output="screen" /> 
  <!-- <node name="role5" pkg="roboteam_tactics" type="RoleNode" output="screen" />
  <node name="role6" pkg="roboteam_tactics" type="RoleNode" output="screen" /> -->
</launch>
